body {
  margin: 0;
  font-family: 'Lato',"Helvetica Neue",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #337ab7;
}

.difficulty-red {
  color: #ff0000;
}
.difficulty-orange {
  color: #ff8000;
}
.difficulty-yellow {
  color: #c0c000;
}
.difficulty-blue {
  color: #0000ff;
}
.difficulty-cyan {
  color: #00c0c0;
}
.difficulty-green {
  color: #008000;
}
.difficulty-brown {
  color: #804000;
}
.difficulty-grey {
  color: #808080;
}